<ul class="sidenav-nav ps-0">
  <li><a href="/organization/admin"><i class="fa-solid fa-user"></i>Sou Vendedor</a></li>
  <li><a href="notifications.html"><i class="fa-solid fa-bell lni-tada-effect"></i>Notifications<span class="ms-1 badge badge-warning">3</span></a></li>
  <li class="suha-dropdown-menu"><a href="#"><i class="fa-solid fa-store"></i>Shop Pages</a>
    <ul>
      <li><a href="shop-grid.html">Shop Grid</a></li>
      <li><a href="shop-list.html">Shop List</a></li>
      <li><a href="single-product.html">Product Details</a></li>
      <li><a href="featured-products.html">Featured Products</a></li>
      <li><a href="flash-sale.html">Flash Sale</a></li>
    </ul>
  </li>
  <li><a href="pages.html"><i class="fa-solid fa-file-code"></i>All Pages</a></li>
  <li class="suha-dropdown-menu"><a href="wishlist-grid.html"><i class="fa-solid fa-heart"></i>My Wishlist</a>
    <ul>
      <li><a href="wishlist-grid.html">Wishlist Grid</a></li>
      <li><a href="wishlist-list.html">Wishlist List</a></li>
    </ul>
  </li>
  <li><a href="settings.html"><i class="fa-solid fa-sliders"></i>Settings</a></li>
  <li><a data-turbo-method="delete" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa-solid fa-toggle-off"></i>Sair</a></li>
</ul>
