<div id="<%= dom_id coupon_sale %>">
  <p>
    <strong>Promo:</strong>
    <%= coupon_sale.promo_id %>
  </p>

  <p>
    <strong>Coupon type:</strong>
    <%= coupon_sale.coupon_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coupon_sale.status %>
  </p>

</div>
