<h1>Editing coupon sale</h1>

<%= render "form", coupon_sale: @coupon_sale %>

<br>

<div>
  <%= link_to "Show this coupon sale", @coupon_sale %> |
  <%= link_to "Back to coupon sales", coupon_sales_path %>
</div>
