<p style="color: green"><%= notice %></p>

<h1>Organization categories</h1>

<div id="organization_categories">
  <% @organization_categories.each do |organization_category| %>
    <%= render organization_category %>
    <p>
      <%= link_to "Show this organization category", organization_category %>
    </p>
  <% end %>
</div>

<%= link_to "New organization category", new_organization_category_path %>
