<!-- Order/Payment Success-->
<div class="order-success-wrapper">
  <div class="content">
    <img src="/img/animation_500_lhfhr4o1.gif" alt="yoast seo" height="288" width="388"/>
    <h5 class="text-white">Payment successful</h5>
    <p class="text-white opacity-75">We will notify you of all the details via email. Thank you!</p>
    <a class="btn btn-warning mt-3" href="home.html">Shopping Again</a>
  </div>
</div>
