<h1>Editing coupon product</h1>

<%= render "form", coupon_product: @coupon_product %>

<br>

<div>
  <%= link_to "Show this coupon product", @coupon_product %> |
  <%= link_to "Back to coupon products", coupon_products_path %>
</div>
