<div class="otp-form mt-5">
  <form action="admin_options" method="get">
    <div class="mb-4 d-flex rtl-flex-d-row-r">
      <button class="btn btn-warning btn-lg w-100" name="option" value="new">Criar Cupom</button>
    </div>
    <div class="mb-4 d-flex rtl-flex-d-row-r">
      <button class="btn btn-warning btn-lg w-100" name="option" value="list">Meus Cupons</button>
    </div>
    <div class="mb-4 d-flex rtl-flex-d-row-r">
      <button class="btn btn-warning btn-lg w-100" name="option" value="report">Relatorio</button>
    </div>
  </form>
</div>
