<div class="sidenav-profile">
  <div class="user-profile"><img src="/img/bg-img/9.jpg" alt=""></div>
  <div class="user-info">
    <h5 class="user-name mb-1 text-white">Suha Sarah</h5>
    <p class="available-balance text-white">Available points <span class="counter">499</span></p>
  </div>
</div>
