<!-- Order/Payment Success-->
<div class="order-success-wrapper">
  <div class="content">
    <h3 class="text-white">Cupons Criados com Sucesso!</h3>
    <img src="/img/animation_500_lhfhr4o1.gif" alt="yoast seo" height="288" width="388"/>
    <p class="text-white opacity-100">Agora basta esperar que seus clientes resgatem os cupons. Boas Vendas!</p>
    <a class="btn btn-warning mt-3" href="/home">----- Início -----</a>
  </div>
</div>
