<h1>Editing organization category</h1>

<%= render "form", organization_category: @organization_category %>

<br>

<div>
  <%= link_to "Show this organization category", @organization_category %> |
  <%= link_to "Back to organization categories", organization_categories_path %>
</div>
