<h1>New organization category</h1>

<%= render "form", organization_category: @organization_category %>

<br>

<div>
  <%= link_to "Back to organization categories", organization_categories_path %>
</div>
