<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= organization.fee %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= organization.category_id %>
  </p>

</div>
